@page "/"
@page "/home"


<h2>Home</h2>
<p>Stonks - A single page application, built using Blazor WebAssembly and Auth0.</p>

<h2>Resources</h2>
<ul>
	<li>Auth0 docs -> <a href="https://auth0.com/docs/">https://auth0.com/docs/</a> </li>
	<li>Blazor -> <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor</a> </li>
	<li>CoinApi docs -> <a href="https://docs.coinapi.io/#md-docs">https://docs.coinapi.io/#md-docs</a> </li>
</ul>
<h2>Additional</h2>
<ul>
	<li><a href="https://townhall.hashnode.com/auth0-hackathon">https://townhall.hashnode.com/auth0-hackathon</a> </li>
	<li><a href="https://docs.coinapi.io/#limits">API Throttling from Coinapi.io</a> </li>

</ul>
