@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
	<Authorized>
		Hello, @context.User.Identity.Name &nbsp;
		<button @onclick="BeginSignOut">Log out</button>
	</Authorized>
	<NotAuthorized>
		<button @onclick="BeginSignIn">Log in</button>
	</NotAuthorized>
</AuthorizeView>

@code{
	private async Task BeginSignOut(MouseEventArgs args)
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}

	private void BeginSignIn(MouseEventArgs args)
	{
		Navigation.NavigateTo("authentication/login");
	}
}
